@import "./header";

#choose_media {
  width: 100%;
  display: flex;
  form {
    width: 80%;
  }
}
#formContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chooseMediaLabel {
  cursor: pointer;
  margin-right: 100px;
  margin-bottom: 150px; /*向上移動 150px */
  #chooseMedia {
    width: 200px;
    cursor: pointer;
  }
}

#mediaAndAnalyzeContainer {
  width: 40%;
  display: flex;
  align-items: flex-end;
}
#mediaContainer {
  min-width: 520px;
  min-height: 520px;
  display: flex;
}

#videoDisplay {
  width: 520px; /* 固定寬度 */
  height: 520px; /* 固定高度 */
  object-fit: contain; /* 等比例縮放圖片 */
}

#analyzeMedia {
  padding: 0;
  border: none;
  display: none;
}

#analyzeMedia img {
  width: 210px;
  height: auto;
}

#submitContainer {
  border: 2px solid #c10707;
}
